@font-face {
  font-family: 'checkbook';
  src: url('../../assets/checkbook.ttf') format('truetype');
}

* {
  font-family: checkbook;
  font-size: 28px;
  color: #ffe900;
  background-color: #00000c;
  text-shadow: #000 0px 0px 2px;
}
